.toppanel {
	background-image: url("../images/raleigh.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 100%;
	background-color: darkcyan;
}

.title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 110px;
  font-weight: 550;
  letter-spacing: -3px;
  text-shadow: navy 4px 3px 0;
  position: relative;
  padding-top: 150px;
}


.restaurants {
	width: 100%;
	background-color: mediumaquamarine;
	box-sizing:border-box;
	overflow: auto;
	padding-right: 25px;
}

.restaurants img {
	height: 290px;
	float:left;
	overflow: auto;
	margin-right: 20px;
}


.thingstodo {
	width: 100%;
	background-color: turquoise;
	box-sizing:border-box;
	overflow: auto;
	padding-left: 25px;
}

.thingstodo img {
	height: 290px;
	float:right;
	overflow: auto;
	margin-left:20px;
}

.localcities {
	width: 100%;
	background-color: steelblue;
	box-sizing:border-box;
	overflow: auto;
	padding-right: 25px;
}

.localcities img {
	height: 290px;
	float:left;
	overflow: auto;
	margin-right: 30px;
}


.subtitle-left {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: left;
  font-size: 30px;
}

.subtitle-right {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: right;
  font-size: 30px;
}
