.toppanel {
	height: 150px;
	width: 100%;
	background-color: darkcyan;
}

.title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: navy 3px 2px 0;
  position: relative;
}


.restaurants img {
	width: 10%;
	float:left;
	overflow: auto;
}

.restaurants {
	height: 150px;
	width: 100%;
	background-color: mediumaquamarine;
}

.thingstodo img {
	width: 15%;
	display:inline-block;
	float:right;
}

.localcities img {
	width: 15%;
	display:inline-block;
	float:left;
}

.subtitle-left {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: left;
  font-size: 50px;
}

.subtitle-right {
  font-family: 'Arial Black', Gadget, sans-serif;
  text-align: right;
  font-size: 50px;
}
